.hero__section{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.presentation__name {
  color: var(--black);
  font-weight: 900;
  font-size: 3rem;
  line-height: var(--line-height-heading);
}
.text__description {
  line-height: var(--line-height-heading);
  font-weight: 400;
}
.text__description h2 {
  color: var(--black);
  line-height: var(--line-height-heading);
}
h2 span{
  color: var(--color-sec);
  /* font-size: 3rem; */
}
.vector {
  height: 100%;
}
.button__container{
  display: flex;
  align-items: center;
  position: relative;
  color: black;
  padding-bottom: 1.5rem;
  width: fit-content;
  margin-top: 1rem;
  gap: .5rem;
}
.button__container p , button{
  border: none;
  background: none;
  /* font-size: var(--font-size-p-bold); */
  font-size: 1rem;
  font-weight: bold; 
}
.button__container::after{
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.button__container:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.icon{
  height: 1.5rem;
  aspect-ratio: 1;
}
.arrow__div{
  border: var(--black) 1px solid;
  border-radius: 50%;
  padding: .5rem;
  transition: box-shadow .2s ease-in;
}
.button__container:hover .arrow__div{
  box-shadow: inset 2.5em 0 0 0 var(--black);
  color: var(--bg);
}
.socials{
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  
}
.social__logo{
  box-shadow:
  rgba(0, 0, 0, 0.1) 0 4px 4px,
  rgba(0, 0, 0, 0.1) 0 2px 2px,
  rgba(0, 0, 0, 0.1) 0 8px 8px,
  rgba(0, 0, 0, 0.1) 0 16px 16px,
  rgba(0, 0, 0, 0.1) 0 32px 32px,
  rgba(0, 0, 0, 0.1) 0 64px 64px
  ;
  border-radius: 50%;
  background-color: transparent !important; 
}
.social__logo svg{
  height: var(--icon-big);
  aspect-ratio: 1;
  color: var(--black);
}
.presentation__whatIdo{
  color: var(--black);
  font-size: 2rem;
}
.name{
  font-family: 'Ginger';
  font-size: 4rem;
}