@font-face {
  font-family: 'Ginger';
  src: url('./assets/fonts/Ginger.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PPNeueMontreal-Medium';
  src:url('./assets/fonts/PPNeueMontreal-Medium.otf') format('opentype');
}

/* icons size 18px x 18px or 24x24px 
  40 a 60 characters per line
  20  a 40 para linhas curtas
  headlines de no máximo 6 palavras
  =========ESPAÇAMENTOS========
  subtitles e inputs = 8px
  title, divisores, paragraphos = 16px
  botoes, forms, cards = 24px
  seções e divisores de tela = 32px

  para elementos clicaveis como iconese e links colocar bordas e um padding de 8px para aumentar a area clicável.
*/

:root {
  /* typography */
  --line-height-p: 1.5em;
  --line-height-heading: 2em;
  --font-size-p-regular: 1.14rem; 
  --font-size-p-bold: .9rem;

  /* icons */
  --icon-small: 1.14rem;
  --icon-big: 5rem;

  /* colors */
  --primary-color: #72DDF7;
  --second-color: #86C3DF;
  --tertiary-color: #142332;
  --bg:#f4f4ed; 
  /* #f4f4ed; */
  /* yellow: #F7EC59; */
  --bg-azure: #D6E8EE;
  --black: #0E0F0F;
  --color-sec: #F10707;
  --color-ter: #0E85D0
}
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg);
  /* color: #1F271c;  */
  font-family: 'PPNeueMontreal-Medium';
}
a{
  color: var(--black);
}



