.wrapper__project{
    padding: 2rem;
}
.project__header{
    margin-top: 7.5rem;
}
.project__header h1{
    margin-bottom: 2rem;
    font-family: 'Ginger';
}
.overview__cover{
    background-image: url('../../assets/img/bg_gradient.png');
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin-bottom: 2rem;
    padding: 2rem;
    position: relative;
    display: flex;
    gap: .5rem;
}
.cover{
   height: 100%;
}
.overview__description{
    line-height: var(--line-height-heading);
    color: #f0f0f0;
    letter-spacing: 1px;
}
.overview__description h3{
    line-height: var(--line-height-p);
}
.project__links{
    display: flex;
    gap: 1rem;
}
.project__skills{
    display: flex;  
    gap: 1rem;
}
.project__skills h2{
    font-family: 'Ginger';
}